[submodule "backend"]
	path = backend
	url = https://github.com/amandi-udawatta/wandr-backend.git
[submodule "wandr-recommendation-python"]
	path = wandr-recommendation-python
	url = https://github.com/samudiperera09/wandr-recommendation-python.git
